
.cnv-call-to-action-widget{
  text-align: center;
  margin: 20px auto;
  .portrait-cta{
    margin-right: 0px;
    max-width: 200px;
  }
  .cta-body{
    display: inline-block;
  }
  .cta-text{
    margin: 15px auto;
    display: block;
  }
}
