.cnv-horizontal-scroll-gallery {
  width: 100%;
  overflow: auto;
  ul {
    display: inline-block;
    height: 100px;
    white-space: nowrap;
    padding: 4px 0;
  }
  li {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 90px;
    display: inline-block;
    margin: 0 4px;
    border: 2px solid #fff;
  }

}